.transform-controller{
    display: flex;
    position:sticky;
    bottom: 0;
    left: 50%;
    
}

.editer{
    background-color: #FFF;
    height: 8vh;
}

.editer-top{
    top: 0;
}

.canvas-container{
    overflow: auto;
    height: 77vh;
    display: flex;
}

.deploy{
    margin: 20px 5px;
    display: flex;
    align-items: center;
    /* background-image:linear-gradient(-225deg, #fff2d3 0%, #ffd5d0 48%, #ffadc5 100%); */
    padding: 0 15px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.deployimg{
    width: 50px;
    height: 50px;
    border-radius:5px;
    display: flex;
    align-items: center;
}

.frame{
    background-color: #F2F2F2;
    margin: auto auto;
    flex-shrink: 0;
    box-shadow: 0 2px 8px rgb(14 19 24 / 7%);
    overflow: hidden;
}

.canvas{
    background-color: #FFF;
    /* 變換canvas的起始位置，讓大小靠齊左上 */
    transform-origin: 0 0;
}
