.editer {
  background-color: #fff;
  height: 8vh;
}

.editer-top {
  top: 0;
}

.canvas-container {
  overflow: auto;
  height: 77vh;
  display: flex;
}

.deploy {
  display: flex;
  /* background-image:linear-gradient(-225deg, #fff2d3 0%, #ffd5d0 48%, #ffadc5 100%); */
  padding: 0 15px;
  height: 100%;
  border-radius: 5px;

  justify-content: space-between;
  align-items: center;
}

.deployimg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.frame {
  background-color: #f2f2f2;
  margin: auto auto;
  flex-shrink: 0;
  box-shadow: 0 2px 8px rgb(14 19 24 / 7%);
  /* 沒有這行轉軸會裂開 */
  overflow: hidden;
}

.outer-canvas {
  /* 變換canvas的起始位置，讓大小靠齊左上 */
  transform-origin: 0 0;
  /* 沒有這行快照會裂開 */
  overflow: hidden;
}
.canvasColor-preview {
  border: #b8b8b8 solid 1px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
}

.canvas-picker {
  position: absolute;
  top: 40px;
  z-index: 1;
}
#picker-position {
  position: relative;
}
.background-picker {
  position: absolute;
  top: 40px;
  z-index: 1;
}

.config-box {
  display: flex;
  align-items: center;
}

.config-button {
  width: 25px;
  height: 25px;
  margin: 0 8px;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.textcolor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-right: #b8b8b8 solid 1px;
  padding-right: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.config-button2 {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.config-button:hover {
  background-color: #f2f2f2;
}

.font-size-container {
  padding: 3px;
  display: flex;
}

.minus {
  border-radius: 5px 0 0 5px;
}

.add {
  border-radius: 0 5px 5px 0;
}

.size-config {
  background-color: #fff;
  padding: 10px;
  border: #b8b8b8 solid 1px;
}

.font-size {
  border: none;
  border-top: #b8b8b8 solid 1px;
  border-bottom: #b8b8b8 solid 1px;
  width: 50px;
  padding: 5px;
  text-align: center;
  color: #000;
}

.config-img {
  width: 10px;
}

.textColor-preview {
  width: 30px;
  height: 7px;
  margin-top: 3px;
  border-radius: 5px;
}

.picker {
  position: absolute;
  top: 35px;
  left: 25px;
  z-index: 1;
}

.fontselect {
  margin: 0 15px;
  height: 38px;
  border-radius: 5px;
  border: #b8b8b8 solid 1px;
  width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;

  justify-content: space-between;
}

.fontselect-content {
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.message {
  margin: 15px;
}

.editer-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.transform-controller {
  margin: 0 20px;
  cursor: pointer;
}

.saveimg {
  cursor: pointer;
  width: 50px;
  margin: 20px;
}

.saving {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 100px;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff719a;
  font-weight: 700;
}

.loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ffe29f;
  border-top-color: #ff719a;
  animation: spin 1s ease-in-out infinite;
  padding: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
