.sidebar {
  width: 90px;
  height: calc(100vh - 60px);
  background-color: #1c160a;
}

.side-icons {
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  margin: 9px 0 20px 5px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-icon {
  width: 45px;
  height: 45px;
}

.icontext {
  font-weight: 900;
  text-align: center;
  color: #eae1cc;
}
.side-container {
  width: 400px;
  background-color: #1c160a;
  display: flex;
  align-items: center;
}
.side-boxes {
  width: 400px;
  background-color: #2e2e2e;
  display: none;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(130px, 1fr));
  height: 98%;
  position: relative;
  /* align-items: center;
    justify-items: center; */
}

.image-box {
  width: 400px;
  background-color: #2e2e2e;
  display: none;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(130px, 1fr));
  height: 98%;
  position: relative;
  /* align-items: center;
    justify-items: center; */
}
.text-box {
  width: 400px;
  background-color: #2e2e2e;
  display: none;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 130px);
  height: 98%;
  position: relative;
  justify-items: center;
}

.add-text {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  grid-column: 1/4;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(184, 184, 184, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-text:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.addnew {
  width: 40px;
  margin-right: 15px;
}

.project-box {
  width: 400px;
  background-color: #2e2e2e;
  display: none;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 200px);
  height: 98%;
  position: relative;
}

.single-project {
  background-color: rgba(184, 184, 184, 0.5);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.single-project:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.preview {
  margin: 5px;
  height: 130px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.previewimg {
  width: 150px;
  border-radius: 5px;
}
.add-preview {
  margin: 5px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 130px;
  justify-content: center;
}
.newproject {
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
  margin: 5px 0;
}
.add-project {
  width: 100px;
}

.project-name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  margin: 5px 0;
  width: 150px;
  color: #fff;
}

.project-type {
  color: #b8b8b8;
}

.close-boxes {
  display: flex;
  width: 10px;
  align-items: center;
  position: relative;
  justify-content: center;
}

.close-icon {
  width: 20px;
  height: 40px;
  background-color: #1c160a;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.edit-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ececec;
  /* display: grid;
    grid-template-rows: repeat(3,fr); */
  /* position: relative; */
  /* width: 100%; */
}
.grid-item {
  position: relative;
}

.project-item img {
  width: 120px;
  cursor: pointer;
}

.font-container {
  width: 400px;
  display: flex;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  height: calc(100vh - 60px);
  left: 90px;
  border: #b8b8b8 solid 1px;
  justify-content: center;
}

.create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 325px;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  height: 230px;
  width: 180px;
  background-color: #ececec;
  border-radius: 5px;
  margin: 0 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-create {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.optionimg {
  width: 150px;
  margin: 15px 0;
}

.option:hover {
  scale: 1.1;
  background-color: rgba(233, 233, 233, 0.5);
}
