.sidebar {
    width: 90px;
    height: 93vh;
    background-color: #1c160a;
}

.side-icons{
    cursor: pointer;
    margin-top: 10px;
}

.side-icon {
    width: 45px;
    height: 45px;
    margin: 10px 20px 0;
}


.icontext {
    font-weight: 900;
    text-align: center;
    color: #90CCF4;
}

.side-container {
    width: 400px;
    background-color: #2e2e2e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    /* height: 100%; */
}

.edit-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ececec;
    /* display: grid;
    grid-template-rows: repeat(3,fr); */
    /* position: relative; */
    /* width: 100%; */
}
.grid-item{
    position: relative;
}

