.footer{
    position: absolute;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.6) ;
    width: 100%;
    color: #FFFF;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}