.transform-controller{
    display: flex;
    position:sticky;
    bottom: 0;
    left: 50%;
    
}

.editer{
    background-color: aliceblue;
    height: 9.9vh;
}

.editer-top{
    top: 0;
}

.canvas-container{
    background-color: #ececec;
    overflow: auto;
    height: 73vh;
    display: flex;
}

.deploy{
    margin: 20px 5px;
    display: flex;
    align-items: center;
    /* background-image:linear-gradient(-225deg, #fff2d3 0%, #ffd5d0 48%, #ffadc5 100%); */
    padding: 0 15px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.deployimg{
    width: 50px;
    height: 50px;
    border-radius:5px;
    display: flex;
    align-items: center;
}

.result{

}
