.transform-controller{
    display: flex;
    position:sticky;
    bottom: 0;
    left: 50%;

}

.editer{
    background-color: aliceblue;
    height: 9.9vh;
}

.editer-top{
    top: 0;
}

.canvas-container{
    height: 73vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container-overflow{
    height: 73vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    
}


