.sidebar {
    width: 90px;
    height: 93vh;
    background-color: #d4d4d4;
}

.side-icon {
    width: 45px;
    height: 45px;
    margin: 10px 20px 0;
    cursor: pointer;
}

.icontext {
    font-weight: 900;
    text-align: center;
}

.side-container {
    width: 400px;
    background-color: #2e2e2e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    /* height: 100%; */
}

.edit-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: grid;
    grid-template-rows: repeat(3,fr); */
    /* position: relative; */
    /* width: 100%; */
}
.grid-item{
    position: relative;
}